@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@300;500&display=swap')
$color: #f05f40
$color1: #212529

%text_after
  &:after
      content: ""
      display: block
      width: 50px
      height: 2px
      background-color: $color1
      margin: 30px auto
      transition: width .4s , color .2s

h1, h2, h3, h4, h5, h6, body
  padding: 0
  margin: 0


body
  font-size: 18px
  font-family: 'Lato', sans-serif


a
  text-decoration: none
  color: white
  transition: .2s
  &:hover
    color: $color1


.activeMenu
  color: $color

.text_uppercase
  text-transform: uppercase

.text_bold
  font-weight: bold

.text_center
  text-align: center

.text_padRight
  display: inline-block
  padding-right: 3px

.container
  width: 100%
  max-width: ((1500*1400)/1900)+px
  margin: 0 auto


.navbar
  .navbar-inner_white
    background: $color1
  .navbar-inner
    z-index: 1
    position: fixed
    height: 60px
    width: 100%
    display: flex
    transition: background .1s ease
    justify-content: space-around
    align-items: center
    .navbar__brand
      font-size: 22px
      padding: 0 30px
      & a:hover
        color: #ffeabb
    .navbar__nav
      ul.nav
        li.navbar__item
          display: inline-block
          list-style: none
          margin: 0 20px
          a.navbar__link
            padding: 0
            &:hover
              color: $color
          &:after
            content: ""
            display: block
            width: 0
            height: 2px
            background-color: $color
            transition: width .4s , color .2s
          &:hover:after
            width: 100%
          &:active
            color: $color


.header
  background: linear-gradient(to bottom, rgba(1, 1, 1, 0.3), rgba(1, 1, 1, 0.4)), url("../../src/img/79338db3397a730cba7d031687f255ee.png") no-repeat center
  background-size: cover
  width: 100%
  height: 100vh
  color: white
  text-shadow: 2px 0 2px $color1
  .header-inner
    text-align: center
    h1
      padding-top: 190px
      margin: 0 auto
      &:after
        content: ""
        display: block
        width: 50px
        height: 3px
        margin: 30px auto
        background: white
    p.text_italic
      font-style: italic
      opacity: .9

    a.btn_scrollStyle
      text-shadow: 0 0
      font-weight: bold
      display: block
      margin: 50px auto
      padding: 10px 10px
      width: 150px
      background: $color
      border-radius: 20px
      transition: .1s
      &:hover
        background: ($color - 22)


section#education.education
  scroll-behavior: smooth
  width: 100%
  color: white
  height: 100vh
  background-color: $color
  text-align: center
  h2
    padding: 150px 0
    font-weight: bold
    letter-spacing: 5px
    &:after
      content: ""
      display: block
      width: 50px
      height: 3px
      margin: 30px auto
      background: white

  .education__part
    display: flex
    justify-content: space-between
    .part
      width: 20%
      display: inline-block
      vertical-align: top


section#work.work

section#github.git
  background: #1db954
  width: 100%
  height: 100vh
  .git-wrapper

    text-align: center
    .git__link
      padding: 120px 0 0 10px
      &:after
        content: ""
        display: block
        width: 50px
        height: 3px
        margin: 30px auto
        background: $color1
      a.link
        color: white
        &:hover
          color: $color1
    .git__projects
      height: 10vh
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 12vw 12vw
      .git__projects__item
        margin: 2px
        display: block
        position: relative
        img
          width: 100%
          height: 100%
          object-fit: cover
          transition: .3s
          &:hover
            opacity: 0.7


section#about.about
  .container
    font-family: 'Truculenta', sans-serif
    .about-wrapper
      h2
        @extend %text_after
        padding: 70px
        text-align: center
      .about__details
        display: flex
        p
          margin: 20px
        img
          margin: 20px
        .about__info
          li
            list-style: none
            h4
              width: 160px
              padding-top: 10px
              padding-bottom: 20px
            div
              display: block
            a
              color: #212529
              &:hover
                color: $color
            &.about__social

              display: flex
              justify-content: space-between
              div
                width: 40px
                img
                  width: 40px



footer
  height: 200px
  display: flex
  align-items: flex-end
  justify-content: center
