@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
h1, h2, h3, h4, h5, h6, body {
  padding: 0;
  margin: 0; }

body {
  font-size: 18px;
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none;
  color: #ff5500;
  transition: .2s; }
  a:hover {
    color: black; }

.container {
  width: 100%;
  max-width: 1105.26316px;
  margin: 0 auto; }

.navbar .navbar-inner_white {
  background: white; }

.navbar .navbar-inner {
  z-index: 1;
  position: fixed;
  height: 60px;
  width: 1105.26316px;
  display: flex;
  transition: background .3s ease;
  justify-content: space-between;
  align-items: center; }
  .navbar .navbar-inner .navbar__brand {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 30px; }
  .navbar .navbar-inner .navbar__nav ul.nav li.navbar__item {
    display: inline-block;
    list-style: none;
    padding: 0 20px; }
    .navbar .navbar-inner .navbar__nav ul.nav li.navbar__item a.navbar__link {
      padding: 0; }

.header {
  background: linear-gradient(to bottom, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.2)), url("../../src/img/79338db3397a730cba7d031687f255ee.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  text-shadow: 2px 0 2px #111; }
  .header .header-inner {
    text-align: center; }
    .header .header-inner h1.text_uppercase {
      text-transform: uppercase;
      text-align: center;
      padding-top: 190px;
      padding-bottom: 5px;
      margin: 0 auto;
      opacity: 1; }
      .header .header-inner h1.text_uppercase:after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        margin: 30px auto;
        background: white; }
    .header .header-inner p.text_bold {
      font-weight: bold; }
    .header .header-inner p.text_italic {
      font-style: italic;
      opacity: .9; }
    .header .header-inner a.btn_scrollStyle {
      text-shadow: 0 0;
      font-weight: bold;
      display: block;
      margin: 50px auto;
      padding: 10px 10px;
      width: 150px;
      color: black;
      background: #ff5500;
      border-radius: 20px;
      transition: .2s; }
      .header .header-inner a.btn_scrollStyle:hover {
        background: #ff1e00;
        color: white; }

section#about.education {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  background-color: #ff5500;
  text-align: center; }
  section#about.education h2.text_uppercase {
    padding: 100px 0;
    font-weight: bold;
    letter-spacing: 5px; }
    section#about.education h2.text_uppercase:after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      margin: 30px auto;
      background: black; }
  section#about.education .education__part {
    display: flex;
    justify-content: space-between; }
    section#about.education .education__part .part {
      width: 20%;
      display: inline-block;
      vertical-align: top; }

section#github.git {
  background: #1db954;
  width: 100%;
  height: 100vh; }
  section#github.git .git-wrapper {
    text-align: center; }
    section#github.git .git-wrapper .git__link {
      padding: 60px 0 0 10px; }
      section#github.git .git-wrapper .git__link:after {
        content: "";
        display: block;
        width: 50px;
        height: 3px;
        margin: 30px auto;
        background: black; }
      section#github.git .git-wrapper .git__link a.link {
        color: #111111; }
    section#github.git .git-wrapper .git__projects {
      height: 10vh;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 15vw 15vw; }
      section#github.git .git-wrapper .git__projects .git__projects__item {
        margin: 2px;
        display: block;
        position: relative; }
        section#github.git .git-wrapper .git__projects .git__projects__item img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .3s; }
          section#github.git .git-wrapper .git__projects .git__projects__item img:hover {
            opacity: 0.7; }
